<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
		


    
		</head>
  <body>
<app-topbar></app-topbar>
    	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
                          <div class="tab-pane active" id="pic-1"><img src="assets/img/esprit/esprit.png" /></div>
                          
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="assets/img/esprit/esprit1.jpg" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img src="assets/img/esprit/esprit2.jpg" /></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img src="assets/img/esprit/esprit3.jpg" /></a></li>
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">ESPRIT TUNISIE</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p class="product-description">Se former autrement ! </p>
                    <p>   Adresse
                                         2 rue André Ampère - 2083 - Pôle Technologique - El Ghazala.</p>
                                        <p>        Email
                                         contact@esprit.tn
                                        </p>
                                    <p>
                                         Téléphone
                                         T (216) 70 250 000
                        </p>
					
					</div>
				</div>
			</div>
		</div>
	</div>

  </body>
